{% extends 'base.html' %}



{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>About Us</h1>
        <p>more about us more about us more about us more about us more about us more about us more about us more about us
        more about us more about us more about us more about us more about us more about us more about us more about us </p>
        <p>more about us more about us more about us more about us more about us more about us more about us more about us
        more about us more about us more about us more about us more about us more about us more about us more about us </p>
        <p>more about us more about us more about us more about us more about us more about us more about us more about us
        more about us more about us more about us more about us more about us more about us more about us more about us </p>
    </div>
</div>
{% endblock %}